/*****
body {
    font-family: "Trebuchet MS", Helvetica , sans-serif;
    background: wheat;
   font-weight: inherit;      
    }

    .h2  {
        font-family: "Trebuchet MS", Helvetica , sans-serif;
        color: rgb(22, 22, 22);
    }


    fieldset{
        padding: 1em;
        border: 1px solid #ccc;
        background: rgba(204, 158, 169, 0.76);
    }


    legend{
        font-weight: bold;
    }

    label{
        display: block;
        cursor: pointer;
    }
input{
    width: 20em;
}

textarea{

   width: 20em;
   height: 10em; 
}

input.radio , input.submit {
     width: auto;

}

.radio {
 margin-right: 1em;
}
/****/



body {
    font-family: "Trebuchet MS", Helvetica , sans-serif;
    background: linear-gradient(to left,#5C1EFA , #875afc);
    font-weight: inherit;  
    
    }

    #container{

        width: 400px;
        height: 300px;
        background-color: white;
        border-radius: 10px;
        margin: 0 auto;
        margin-top: 120px;
        text-align: center;
    }

    #container img{
        width: 120px;
        height: 120px;
        margin-top: -60px;
        margin-bottom: ;

    }

    input{
        width: 80%;
        height: 40px;
        font-size: 18px;
        margin-bottom: 10px;
        background-color: #fff;
        padding-left: 40px;
        border: none;
        background-repeat: no-repeat;
        background-position: 10px;
    }
input.email {
    background-image: url("../img/icone-usuario.png");

}

input.senha {
    background-image: url("../img/icone-cadeado.png");

}

input.submit{

    color: #fff;
    background:#5C1EFA;
    border: 2px solid #5C1EFA;
    padding: 5px 20px;
    height: 45px;
    width:50%;
    border-radius: 1em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


ul a {
   width: 200px;
   height: 40px;
   display: block;
   color: black;
   text-decoration: none;
   text-indent: 40px;
   line-height: 40px;
   background: url(../img/menu.png) no-repeat left bottom;

}

a:hover {
   color: rebeccapurple;
    background-position: right bottom;
}

ul#navegacao {
 margin: 0;
 padding:0;
 list-style: none;
 width: 720px;
 background: url(../img/333.png) repeat-x;
 float: left;
}

ul li {
float: left;

}

ul a{

   display: block;
   padding: 0 2em;
   text-decoration: none;
   color: rgb(34, 34, 34);
   line-height: 2em;
   background: white url(../img/divisorrr.png) repeat-y  ;
}
ul.primeiro a {

   background: none;
}

ul a:hover {
   color: white;
   background: #2A5FD0;
}


.box {
    position: relative;
    width: 300px;
    height: 400px;
    border-radius: 20px;
    display: grid;
    place-items: center;
    overflow: hidden;
}


.box:before {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: rgb(2,0,36);
background: background: rgb(2,0,36);
background: conic-gradient(transparent, rgba(2,0,36,1) 0%, rgba(152,16,255,1) 35%, rgba(0,212,255,1) 100%);
}

.box:after {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: rgb(2,0,36);
background: rgb(2,0,36);
background: conic-gradient(transparent, rgba(2,0,36,1) 0%, rgba(152,16,255,1) 35%, rgba(0,212,255,1) 100%);
animation: rotate 4s linear infinite;
animation-delay: -2s;

}

.box span { 
position: absolute;
inset: 5px;
border-radius: 16px;
background: white;
z-index: 2;
}

@keyframes rotate {
0%  {
    transform: rotate(0deg);
}
100% {

    transform:rotate(360deg);
}
}